* {
  background-color:		#a7adba;
}
*{
  font-family: Times;
}
#tom{
  width: 150px;
  display:inline;
  float:left;
}
#bio{
  display:inline;
  float:left;
  margin-top:0;
}
#logo1{
  display:inline;
  float:left;
  width: 60px;
}
#logo2{
  display:inline;
  float:left;
  height:35px;
  width:130px;
}
#bio h2 {
  margin:0;
  padding-left: 160px;
}
#job{
  margin-top:200px;
}
#bio p{
  padding-left: 165px;
}
.pJob {
  padding-left: 135px;
}
div li{
  list-style: none;
}
ol li{
  font-family: cursive;
  font-size: 15px;
}
ul li{
  margin-bottom: 50px;
}
